In [141]:
#initialize packages

import os #operating system inferfacing. Read and write to files. 
import pandas as pd #database manipulation
import numpy as np #arrays and mathmatical computation 
import matplotlib.pyplot as plt #plotting
import sqlite3 #sql

import matplotlib
matplotlib.style.use('ggplot')


%pylab inline

Populating the interactive namespace from numpy and matplotlib

### Import SQL Thermal Zones and Areas from in.sql

In [143]:
filename = 'in.sql'

In [144]:
con = sqlite3.connect(os.path.join(filename))
sql_querie = "SELECT ZoneInfoZoneLists.ZoneListIndex, ZoneLists.Name, Zones.ZoneName, Zones.FloorArea From ZoneInfoZoneLists INNER JOIN ZoneLists ON ZoneInfoZoneLists.ZoneListIndex = ZoneLists.ZoneListIndex INNER JOIN Zones On ZoneInfoZoneLists.ZoneIndex = Zones.ZoneIndex ORDER BY ZoneInfoZoneLists.ZoneListIndex ASC;"

In [145]:
df = pd.read_sql_query(sql_querie, con)

In [146]:
total_area = df.sum()['FloorArea']

In [147]:
zone_area_sums = df.groupby('Name').sum()['FloorArea']
zone_area_sums

Name
AUD       172.809984
BREAK    2697.789873
CLEAN     361.114116
CONF      378.775371
CORR     2143.434029
DIN       504.883698
ELEC      863.299847
EXAM     3770.628177
GI        432.618490
IMAG      366.627738
KIT       549.291457
LAUND     316.369690
LOB      4234.545084
MECH      611.619422
MED       150.791956
PHARM     120.878880
PROC      808.381932
RAY       352.026502
RET       523.998050
SOIL      541.671175
STAIR     162.755623
STER      119.197181
STOR      766.788693
TEAM      689.108299
WR        464.824877
Name: FloorArea, dtype: float64

In [154]:
#create a blank dictionary
d = {} 

#values to initialize loop
num_types = zone_area_sums.count()
i = 0

#loop through values and add to dictionary
for i in range(0, num_types):
    percent = round(((zone_area_sums[i] / total_area) * 100),1)
    d[zone_area_sums.index[i]] = percent
    i = i + 1

In [155]:
df = pd.DataFrame([d]).T #create dataframe from dictionary and transpose it. 
df

          0
AUD     0.8
BREAK  12.2
CLEAN   1.6
CONF    1.7
CORR    9.7
DIN     2.3
ELEC    3.9
EXAM   17.1
GI      2.0
IMAG    1.7
KIT     2.5
LAUND   1.4
LOB    19.2
MECH    2.8
MED     0.7
PHARM   0.5
PROC    3.7
RAY     1.6
RET     2.4
SOIL    2.5
STAIR   0.7
STER    0.5
STOR    3.5
TEAM    3.1
WR      2.1

In [156]:
d['RAY']

1.6

In [157]:
df.to_csv('example.csv')